// Auto generated

>>>>>>>>>> examples

@@@ >>> examples
<<<example_header>>>
///
/// Cargo.toml
/// ```ignore
<<<example_import>>>
/// ```
///
/// main.rs
/// ```ignore
<<<example_code>>>
/// ```
pub mod <<<example_name>>> {}
@@@ <<<
