// Auto generated

>>>>>>>>>> examples

@@@ >>> examples
<<<example_header>>>
///
/// Source code (./Cargo.toml)
/// ```toml
<<<example_import>>>
/// ```
///
/// Source code (./src/main.rs)
/// ```ignore
<<<example_code>>>
/// ```
pub mod <<<example_name>>> {}
@@@ <<<
